html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    line-height: 1.3em;
}

body {
    text-align: center;
}

ul,
ol {
    list-style-position: inside;
}

p {
    text-indent: 2rem;
}

a {
    text-decoration: none;
    color: black;
    padding: 1em;

}

a:hover,
a:active, 
a:focus {
    text-decoration: underline;
    color: blue;
}

.front_cover {
    width: 100%;
    height: auto;
}

.text-container {
    margin: auto;
    width: 80%;
    text-align: justify;
}

.list-container {
    margin: auto;
    width: 80%;
    text-align: left;
}